h1 {
    text-align: center;
    color: blue;
}
h2 {
color: blue ;}
.tabela {
    background-color: lightskyblue;
    width: 600px;
    align-content: center;
    align-items: center;
}
tr,th{
    border: 1px solid blue;
    padding: 20px;
}
body,html {
    justify-content: center;
    align-items: center;
}
